<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Amm"
        tools:targetApi="31">
        <activity
            android:name=".activities.InicioActivity"
            android:exported="false"
            android:label="@string/title_activity_inicio"
            android:theme="@style/Theme.Amm" />
        <activity
            android:name=".activities.RegisterActivity"
            android:exported="false"
            android:label="@string/title_activity_register"
            android:theme="@style/Theme.Amm" />
        <activity
            android:name=".activities.LoginActivity"
            android:exported="false"
            android:label="@string/title_activity_login"
            android:theme="@style/Theme.Amm" />
        <activity
            android:name=".activities.ClientesActivity"
            android:exported="false"
            android:label="@string/title_activity_clientes"
            android:theme="@style/Theme.Amm" />
        <activity
            android:name=".activities.EmpleadosActivity"
            android:exported="false"
            android:label="@string/title_activity_empleados"
            android:theme="@style/Theme.Amm" />
        <activity
            android:name=".activities.EquiposActivity"
            android:exported="false"
            android:label="@string/title_activity_equipos"
            android:theme="@style/Theme.Amm" />
        <activity
            android:name=".activities.ServiciosActivity"
            android:exported="false"
            android:label="@string/title_activity_servicios"
            android:theme="@style/Theme.Amm" />
        <activity
            android:name=".activities.TiposActivity"
            android:exported="false"
            android:label="@string/title_activity_tipos"
            android:theme="@style/Theme.Amm" />
        <activity
            android:name=".SplashActivty"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Amm">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>